*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:100vw;
    background-color: #f5f5f5;
}
.hero{
    background-image: url(images/bg-desktop-light.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:40vh;
}
.titleDisplay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 40%;
    padding-top: 50px;
    margin:0 auto;
}
.titleDisplay h1{
    color:white;
}
.mode{
    border:none;
    background-color: transparent;
}
.inputContainer{
    max-width:40vw;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
}
#input{
    border:none;
    outline: none;
    padding: 20px;
    padding-left: 50px;
    width:100%;
    border-radius: 5px;
    /* width: 40vw; */
}
.checkBtn{
    background-color: rgb(241, 17, 241);
    padding: 10px;
    border: none;
    color: white;
}
.card{
    display: flex;
    flex-direction: column-reverse;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    width:40vw;
    margin-top: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}
.taskField {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    padding: 10px; 
    border-bottom: 1px solid #ddd; 
  }
  .track{
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .state{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
  }
  .circle{
    border-radius: 50%;
    vertical-align: middle;
    /* appearance: none; */
  }
  /* .all{
    border: none;
    background-color: transparent;
    
  } */
  .checkSection{
    display:flex;
    flex-direction: center;
    align-items: center;
    gap:10px;
  }
  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    appearance: none;
    outline: none;
    border: 1px solid #000;
    transition: background-color 0.3s ease;
    position: relative;
}

.circle:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
 

}

.circle:checked {
    background-color:#e477de;
    border: 1px solid #e477de;
}

.circle:checked:after {
    border-bottom-color: #fff;
}
